/ .col-xs-8.col-sm-6
/   small= "#{comment.user.email.match(/(.*)@/)[1]} #{comment.created_at.strftime('%d/%m/%Y')}"
/   '
/   strong
/     = best_in_place_if comment.decorate.author?(comment.user), [comment.post, comment], :body, as: :textarea
/ .col-xs-4.col-sm-6
dl.dl-horizontal
  dt= "#{comment.user.email.match(/(.*)@/)[1]} #{comment.created_at.strftime('%d/%m/%Y')}"
  dd
    = best_in_place_if comment.decorate.author?(comment.user), [comment.post, comment], :body, as: :textarea
    '
    - if comment.decorate.author?(comment.user)
      = link_to [comment.post, comment], method: :delete do
        span.glyphicon.glyphicon-remove-circle
