.slider__wrapper
  .slider
    = image_tag "slide1.jpg", class: 'slider_slide'
    = image_tag "slide2.jpg", class: 'slider_slide'
    = image_tag "slide3.jpg", class: 'slider_slide'
  .slider_info
    p.slider_info_text
      | Фотографиям вашего ребенка
      br>/
      | позавидуют даже звезды
      a.slider_info_button href="#"  начать обучение &raquo;
    .arrow_left &laquo;
    .arrow_right &raquo;
