.col-md-6
  = simple_form_for @post, html: { class: 'form-horizontal' } do |f|
    = f.input :title
    = f.input :text, input_html: { rows: 10 }
    = f.input :tag_list, label: 'Теги'
    - unless @post.new_record?
      = f.input :published_at, input_html: { class: 'datepicker', value: @post.decorate.date_creation } , as: :string
    = f.input :published, as: :boolean, checked_value: true, unchecked_value: false
    = f.button :submit, submit_text_button(@post), class: 'btn btn-success'
