.section
  section.articles
    .article
      header
        = link_to post.title, post_path(post)
        span
          = "#{post.user.email.match(/(.*)@/)[1]} #{post.created_at.strftime('%d/%m/%Y')}"
      p= post.text
