.row
  .col-md-8
    = render partial: 'post', collection: @posts
  = paginate @posts
  .col-md-4
    - tag_cloud Post.tag_counts, %w(css1 css2 css3) do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: css_class
