= render partial: 'post', locals: { post: @post }
.row
  .col-md-2.col-md-offset-9
    = link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-warning btn-block'
    = link_to 'Удалить', post_path(@post), method: :delete, class: 'btn btn-danger btn-block'

.row
  h5 Комментарии
  = render @post.comments.includes(:user)

.row
  .col-xs-12.col-md-8
    = render 'comments/form'
 
