// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article header {
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
}
.article header span {
  display: block;
  margin-top: 3px;
  padding-top: 3px;
  line-height: 1;
  font-size: 12px;
  border-top: #CCC 1px solid;
  color: #B2B2B2;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
