// Place all the styles related to the slider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slider__wrapper {
  position: relative;
  width: 950px;
  height: 350px;
  margin: 50px auto 0;
}

.slick-track,
.slick-slider,
.slick-list {
  height: 100%;
}


.arrow_left,
.arrow_right {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #000;
  cursor: pointer;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.arrow_right {
  left: 70px;
}

.slider_info {
  font: 24px/30px Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px 10px 140px;
  background: #000;
  background: rgba(0,0,0, 0.5);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.slider_info_text {
  position: relative;
  color: #fff;
}

.slider_info_button {
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  width: 270px;
  height: 46px;
  color: #5e2400;
  font-size: 18px;
  line-height: 46px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  text-shadow: 1px 1px 2px #fff;
  filter: Shadow(Color=#ffffff, Direction=45, Strength=2);

  background: orange;
  background: -moz-linear-gradient(top, #fcdfb5 0%,#f2b055 50%,#e99824 51%,#f9ca4f 100%);
  background: -webkit-linear-gradient(top, #fcdfb5 0%,#f2b055 50%,#e99824 51%,#f9ca4f 100%);
  background: -o-linear-gradient(top, #fcdfb5 0%,#f2b055 50%,#e99824 51%,#f9ca4f 100%);
  background: -ms-linear-gradient(top, #fcdfb5 0%,#f2b055 50%,#e99824 51%,#f9ca4f 100%);
  background: linear-gradient(top, #fcdfb5 0%,#f2b055 50%,#e99824 51%,#f9ca4f 100%);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
  }
}
