doctype html
html
  head
    title
      | Igooods
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        - if current_user
          p.navbar-text
            = link_to 'Блог', root_path, class: 'navbar-link'
          p.navbar-text
            = link_to 'Мои посты', my_posts_path, class: 'navbar-link'
          p.navbar-text
            = link_to 'Слайдер', slider_path, class: 'navbar-link'
          
          = link_to 'Добавить статью', new_post_path, class: 'btn btn-info btn-sm navbar-btn'
          = link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm navbar-btn navbar-right'
    .container
      = flash_messages
      = yield
